.exception
  %h1 We're sorry, but something went wrong
  %p We've been notified about this issue and we'll take a look at it shortly.
  %p 
    %small
      (If you're the administrator of this website, then please read the log file 
      =h "#{RAILS_ENV}.log"
      to find out what went wrong.)